#root {
  text-align: center;
  color: #111517;
  font-family: "Nunito Sans", sans-serif;
}

header {
  margin: 2rem;
}

h3 {
  margin-top: 0;
  font-weight: 600;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
}

.filters {
  display: flex;
  justify-content: flex-start;
  margin: 2rem;
}

input {
  border: none;
  margin-left: 0.5rem;
}

.countriesContainer {
  display: flex;
  flex-wrap: wrap;
}

.countryMain {
  margin: 2rem;
  border-radius: 200px;
  font-size: 14px;
}

.mainFlag {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.mainFigure {
  width: 250px;
  height: 170px;
  margin: 0;
}

.mainInfo {
  text-align: left;
  padding: 1.5rem;
}
