#root {
  text-align: center;
  color: #111517;
  font-family: "Nunito Sans", sans-serif;
}

header {
  margin: 2rem;
}

h3 {
  margin-top: 0;
  font-weight: 600;
}

a,
a:hover,
a > p {
  text-decoration: none;
  color: #111517;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.search {
  display: flex;
  justify-content: flex-start;
}

input {
  border: none;
  margin-left: 0.5rem;
}

.countriesContainer {
  display: flex;
  flex-wrap: wrap;
}

.countryMain {
  margin: 2rem;
  border-radius: 4px;
  font-size: 14px;
  overflow: hidden;
}

.mainFlag {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.mainFigure {
  width: 250px;
  height: 170px;
  margin: 0;
}

.mainInfo {
  text-align: left;
  padding: 1.5rem;
}

.backButton {
  display: flex;
  margin: 3rem;
}

.detailMain {
  display: flex;
}

.detailContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
}

.borders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 5rem;
}

.bordering {
  margin-left: 1rem;
}

.detailFlag {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.detailFigure {
  width: 500px;
  height: 300px;
  margin: 3rem;
}

@media only screen and (max-width: 600px) {
  .detailMain,
  .detailContainer {
    flex-direction: column;
  }
  .detailFigure {
    width: 250px;
    height: 170px;
    margin: 3rem;
  }
}
