#header,
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.rootLight {
  margin: 0;
  text-align: center;
  color: #111517;
  font-family: "Nunito Sans", sans-serif;
}

.rootDark {
  margin: 0;
  text-align: center;
  background-color: hsl(207, 26%, 17%);
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.dark {
  border: none;
  background-color: inherit;
  color: inherit;
}

h3 {
  padding-top: 0;
  font-weight: 600;
}

a,
a:hover,
a > p {
  text-decoration: none;
  color: inherit;
}

.title {
  margin: 0;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.search,
.searchDark {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto 1rem;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  overflow: hidden;
}

.searchDark {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

input {
  border: none;
  margin-left: 0.5rem;
  background-color: inherit;
  color: inherit;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.regions,
.regionsDark {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25em;
  padding: 0.5em 0.75em;
  font-size: inherit;
  cursor: pointer;
  line-height: 1.1;
  font-family: "Nunito Sans", sans-serif;
  margin: 2rem 0;
}

.regions {
  color: #111517;
  background-color: white;
  border: 1px solid hsl(207, 9%, 62%);
}

.regionsDark {
  color: white;
  background-color: hsl(209, 23%, 22%);
  border: 1px solid hsl(209, 23%, 22%);
}

.countriesContainer {
  display: flex;
  flex-wrap: wrap;
}

.countryMain,
.countryMainDark {
  margin: 2rem;
  border-radius: 4px;
  font-size: 14px;
  overflow: hidden;
}

.countryMainDark {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.mainFlag {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.mainFigure {
  width: 250px;
  height: auto;
  margin: 0;
}

.mainInfo {
  text-align: left;
  padding: 1.5rem;
}

.backButton,
.darkBackButton {
  display: flex;
  margin: 3rem;
  border: 1px solid lightgray;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

.darkBackButton {
  background-color: hsl(209, 23%, 22%);
  color: white;
  border: none;
}

.detailMain {
  display: flex;
}

.detailContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
}

.borders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 5rem;
}

.bordering {
  margin-left: 1rem;
}

.detailFlag {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.detailFigure {
  width: 500px;
  height: 300px;
  margin: 3rem;
}

@media only screen and (max-width: 600px) {
  .detailMain,
  .detailContainer,
  .filters {
    flex-direction: column;
  }

  .detailFigure {
    width: 250px;
    height: auto;
    margin: 3rem;
  }
}
